!.eslintrc.js
!.size-limit.js

/dist/**
!/dist/typings.d.ts
/lib/**

/src/typings/_resize-observer/index.d.ts

**/node_modules/**

/website/docs/api/**
/website/versioned_docs/**/api/**
/website/build/**
/website/src/theme/**/*.js

/plugin-examples
/packages/create-lwc-plugin

/debug

coverage/**
.github/**
tests/e2e/coverage/viewer/**
tests/e2e/graphics/report-server/**
tests/e2e/memleaks/runner-silent.js
tests/e2e/coverage/data.ts
docs/api-docs/**
graphics/**
graphics-docs/**
debug/source-map-loader.js
examples/**
